ADMIN_EMAIL=
ADMIN_PASSWORD=
COMPLIANCE_HEAD_EMAIL=
DATABASES_DIR=
DATABASE_PATH=
GEMINI_API_KEY=
GROQ_API_KEY=
SMTP_FROM=
SMTP_FROM_NAME=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
TATA_ACCOUNT_ID=
TATA_API_KEY=
TATA_API_URL=
UPLOADS_DIR=
USER_PASSWORD=